<div id="results">
<h2>Wow, that's quite a week you had!</h2>
<h4>I'm sure these gifs will make it better!</h4>
<ul>
  <% @results.each do |result| %>
    <img src="<%= result %>">
    <br>
  <%end%>
</ul>
</p>
</div>
