<div id = "form">
<form action="/gifs" method="post" id="week_quality">
  How was your week?<br>
  <select name="week_values" form="week_quality">
    <option value="awesome">Awesome!</option>
    <option value="meh">Meh</option>
    <option value="ok">OK, I guess</option>
    <option value="nope">Nope</option>
    <option value="terrible">Terrible</option>
    <option value="the_worst">The Worst</option>
    <option value="bad_life_choices">All of my life choices are crap</option>
  </select>
  <input type="submit" value="Submit">
</form>
</div>
