<div id = "my-form">
  <h2>Hi friend! How was your week?</h2>
  <form action="/gifs" method="post" id="week_quality">
    <br>
    <select name="week_values" form="week_quality">
      <option value="hungry">I'm hungry.</option>
      <option value="awesome">Awesome!</option>
      <option value="meh">Meh</option>
      <option value="ok">OK, I guess</option>
      <option value="nope">Nope</option>
      <option value="terrible">Terrible</option>
      <option value="the_worst">The Worst</option>
      <option value="bad_life_choices">All of my life choices are crap</option>
    </select>
    <input id="search_submit" type="submit" value="Submit">
  </form>
</div>
